/* My custom CSS */

/* Horizontal center for images */
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* width: 50%; */
}

/* .is-vertical-center {
    display: flex;
    align-items: center;
} */